
@{
    ViewBag.Title = "Aggrigate";
}

<h2>Aggregate Function</h2>
<div class="d-flex justify-content-between">
    <div class="card mb-2">
        <div class="card-header">
            <label>Total Product</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.TotalProduct</h2>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <label>Total Product Price</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.totalProductPrice</h2>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <label>Maximum  Price Price</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.MaxPrice</h2>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <label>Minimum  Product Price</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.MinPrice</h2>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <label>Average   Product Price</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.AvgPrice</h2>
        </div>
    </div>
</div>




